@CHARSET "UTF-8";

html {
	font-size: 20px;
	height: 100%
}

body {
	font-family: sans-serif;
	margin: 0;
	background-color: #afe3ea;
	font-size: 18px;
	color: #3d7291;
	min-height: 100%;
}

button, input, table, a, label {
	font-family: sans-serif;
	font-size: 18px;
}
form {
	margin: 0
}
select{
	font-size: 17.5px;
	vertical-align: middle;
}
input{
	margin-top:2rem;
}
input, select {
	box-sizing: border-box;
	border: 1px solid #ffffff;
	border-radius: 2px;
	padding: 1rem 1rem;
	background-color: #eff8f7;
	box-shadow: 0 1px 1px 0 rgba(75, 75, 75, .15) inset, 0 2px 0 0 #408080;
	margin-right: 1rem;
}

.table-hover th, .table-hover td{
	width: 40%;
	background-color: #eff8f7;
	border-radius: 2px;
	border: 1px solid #400080;
	box-shadow: 0 1px 1px 0 rgba(75, 75, 75, .15) inset, 0 2px 0 0 #408080;
}
.table-bordered, .panel>.table-responsive>.table-bordered {
	background-color: #eff8f7;
	border-radius: 2px;
	border: 1px solid #ffffff;
	box-shadow: 0 1px 1px 0 rgba(75, 75, 75, .15) inset, 0 2px 0 0 #408080;
	width: 100%;
	margin-bottom:2rem;
	margin-top: 2rem;
}
@media screen {
	html {
		font-size: 11.5px
	}
	body, button, input {
		font-size: 20px;
	}
}

button:hover {
	opacity: 0.8;
}

.pagealign {
	text-align: center;
	color: #3f5f8f;
	font-weight: 550;
}

.opt input {
	width: 120px;
}

.logo {
	display: inline-block;
	width: 501px;
	height: 153px;
	background-image: url(../images/logo2.png);
}

.fine-button {
	box-sizing: border-box;
	border-radius: 1px;
	display: inline-block;
	overflow: hidden
}

.fine-button:hover {
	opacity: 0.8;
}

.fine-button button, .fine-button input, .fine-button>a {
	box-sizing: border-box;
	text-decoration: none;
	display: inline-block;
	color: #e8f1f7;
	background-color: #3d7291;
	background: linear-gradient(0deg, #066772 0, #3d7291 100%);
	border-style: solid;
	border-radius: 3px;
	border-width: 1px;
	border-color: #A6D2EF;
	width: 100%;
	height: 100%;
	cursor: pointer
}

.fine-button.default {
	height: 3rem
}

.fine-button.default a, .fine-button.default button {
	font-size: 1.5rem;
	font-weight: 350;
	line-height: 3rem;
	padding: 0 1rem;
	top: 5px;
}

/* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	left: 0;
	background-color: #3d7291;
	background: linear-gradient(0deg, #066772 0, #3d7291 100%);
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px; /* Place content 60px from the top */
	transition: 0.3s;
	background: linear-gradient(0deg, #066772 0, #3d7291 100%);
	/* 0.5 second transition effect to slide in the sidenav */
}

.sidenav .top .lang {
	display: inline;
	vertical-align: middle
}

.sidenav .top .lang a {
	display: inline-block;
	width: 15px;
	height: 10px;
	line-height: 1.5rem;
	margin-left: 1rem;
	padding-right: 50px;
}

.sidenav .top .lang a.cur {
	background-color: #fff;
	color: #265c76;
}
/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 15px 15px;
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
	color: #80ffff;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 36px;
	margin-left: 5px;
}

.auth {
	position: absolute;
	top: 3px;
	right: 20px;
}

.form-inline .form-group {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle
}

.form-inline .form-control {
	display: inline-block;
	width: auto;
	vertical-align: middle
}

.form-inline .form-control-static {
	display: inline-block
}

.form-inline .input-group {
	display: inline-table;
	vertical-align: middle
}

.form-inline .input-group .form-control, .form-inline .input-group .input-group-addon,
	.form-inline .input-group .input-group-btn {
	width: auto
}

.form-inline .input-group>.form-control {
	width: 100%
}

.form-inline .control-label {
	margin-bottom: 0;
	vertical-align: middle
}

.form-inline .checkbox, .form-inline .radio {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: middle
}

.form-inline .checkbox label, .form-inline .radio label {
	padding-left: 0
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
		url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
		url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
		url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular')
		format('svg');
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #eff8f7;
	border: 1px solid transparent;
	border-radius: 4px;
}

.collapse {
	display: none;
}

.collapse.in {
	display: block;
}

.dropdown-menu {
	position: absolute;
	left: 0;
	z-index: 1000;
	display: none;
	cursor: pointer;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
	cursor: pointer;
}

.list-unstyled:hover{
	background-color: #8080ff; 
    color: white;
}

.container {
	clear:both;
	text-align: center;
	margin: auto;
    width: 90%;
}

table{
	margin: auto;
	border-bottom: 1px solid #0000a0;
}

.row {
	margin: auto;
	width: 450px;
}

.pull-right>.dropdown-menu {
	right: 0;
	left: auto
}

dropdown-menu.pull-right {
	right: 0;
	left: auto
}


.seat-container {
	diplay: none;
}

.inner {
	display: inline-block;
	position: relative;
}

.col-lg-6 {
	width: 50%
}

.panel-info {
	border-color: #bce8f1;
	width:450px;
	margin:auto;
}

.panel-info>.panel-heading {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1
}

.panel-info>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #bce8f1
}

.panel-info>.panel-heading .badge {
	color: #d9edf7;
	background-color: #31708f
}

.panel-info>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #bce8f1
}

.panel-group .panel-heading {
	border-bottom: 0
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body
	{
	border-top: 1px solid #400080
}

.panel-group .panel-footer {
	border-top: 0
}

.panel-group .panel-footer+.panel-collapse .panel-body {
	border-bottom: 1px solid #400080
}

.panel-default {
	border-color: #400080
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #400080
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #400080
}

.panel-default>.panel-heading .badge {
	color: #f5f5f5;
	background-color: #333
}

.panel-default>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #400080
}

.panel-primary {
	border-color: #337ab7
}

.panel-primary>.panel-heading {
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #337ab7
}

.panel-primary>.panel-heading .badge {
	color: #337ab7;
	background-color: #fff
}

.panel-primary>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #337ab7
}

.panel-success {
	border-color: #d6e9c6
}

.panel-success>.panel-heading {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6
}

.panel-success>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #d6e9c6
}

.panel-success>.panel-heading .badge {
	color: #dff0d8;
	background-color: #3c763d
}

.panel-success>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #d6e9c6
}

.panel-info {
	border-color: #bce8f1
}

.panel-info>.panel-heading {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1
}

.panel-info>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #bce8f1
}

.panel-info>.panel-heading .badge {
	color: #d9edf7;
	background-color: #31708f
}

.panel-info>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #bce8f1
}

.panel-warning {
	border-color: #faebcc
}

.panel-warning>.panel-heading {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc
}

.panel-warning>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #faebcc
}

.panel-warning>.panel-heading .badge {
	color: #fcf8e3;
	background-color: #8a6d3b
}

.panel-warning>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #faebcc
}

.panel-danger {
	border-color: #ebccd1
}

.panel-danger>.panel-heading {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1
}

.panel-danger>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ebccd1
}

.panel-danger>.panel-heading .badge {
	color: #f2dede;
	background-color: #a94442
}

.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small,
	.panel-title>small>a {
	color: inherit
}

.glyphicon-briefcase:before {
	content: "\e139"
}

.panel-body {
	padding: 15px
}

.panel-body+.table, .panel>.panel-body+.table-responsive, .panel>.table+.panel-body,
	.panel>.table-responsive+.panel-body {
	border-top: 1px solid #400080
}

.panel-body {
	border-top: 1px solid #400080
}

.panel-group .panel-footer {
	border-top: 0
}

.panel-group .panel-footer+.panel-collapse .panel-body {
	border-bottom: 1px solid #400080
}

.panel-default {
	border-color: #400080
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #400080
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #400080
}

.panel-default>.panel-heading .badge {
	color: #f5f5f5;
	background-color: #333
}

.panel-default>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #400080
}

.panel-primary {
	border-color: #337ab7
}

.panel-primary>.panel-heading {
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #337ab7
}

.panel-primary>.panel-heading .badge {
	color: #337ab7;
	background-color: #fff
}

.panel-primary>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #337ab7
}

.panel-body {
	border-top-color: #d6e9c6
}

.panel-success>.panel-heading .badge {
	color: #dff0d8;
	background-color: #3c763d
}

.panel-success>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #d6e9c6
}

.panel-body {
	border-top-color: #bce8f1
}

.panel-info>.panel-heading .badge {
	color: #d9edf7;
	background-color: #31708f
}

.panel-info>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #bce8f1
}

.panel-warning {
	border-color: #faebcc
}

.panel-warning>.panel-heading {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc
}

.panel-warning>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #faebcc
}

.panel-warning>.panel-heading .badge {
	color: #fcf8e3;
	background-color: #8a6d3b
}

.panel-warning>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #faebcc
}

.panel-danger {
	border-color: #ebccd1
}

.panel-danger>.panel-heading {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1
}

.panel-danger>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ebccd1
}

.panel-danger>.panel-heading .badge {
	color: #f2dede;
	background-color: #a94442
}

.panel-danger>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #ebccd1
}

.list-group {
	padding-left: 0;
	margin-bottom: 20px;
	width: 80px;
}

.list-group-item {
	width: 400px;
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #400080
}

.list-group-item:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px
}

.list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px
}

a.list-group-item, button.list-group-item {
	color: #555
}

a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading
	{
	color: #333
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus,
	button.list-group-item:hover {
	color: #555;
	text-decoration: none;
	background-color: #f5f5f5
}

button.list-group-item {
	width: 50%;
	text-align: left
}

.list-group-item.disabled, .list-group-item.disabled:focus,
	.list-group-item.disabled:hover {
	color: #777;
	cursor: not-allowed;
	background-color: #eee
}

.list-group-item.disabled .list-group-item-heading, .list-group-item.disabled:focus .list-group-item-heading,
	.list-group-item.disabled:hover .list-group-item-heading {
	color: inherit
}

.list-group-item.disabled .list-group-item-text, .list-group-item.disabled:focus .list-group-item-text,
	.list-group-item.disabled:hover .list-group-item-text {
	color: #777
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover
	{
	z-index: 2;
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7
}

.list-group-item.active .list-group-item-heading, .list-group-item.active .list-group-item-heading>.small,
	.list-group-item.active .list-group-item-heading>small,
	.list-group-item.active:focus .list-group-item-heading,
	.list-group-item.active:focus .list-group-item-heading>.small,
	.list-group-item.active:focus .list-group-item-heading>small,
	.list-group-item.active:hover .list-group-item-heading,
	.list-group-item.active:hover .list-group-item-heading>.small,
	.list-group-item.active:hover .list-group-item-heading>small {
	color: inherit
}

.list-group-item.active .list-group-item-text, .list-group-item.active:focus .list-group-item-text,
	.list-group-item.active:hover .list-group-item-text {
	color: #c7ddef
}

.list-group-item-success {
	color: #3c763d;
	background-color: #dff0d8
}

a.list-group-item-success, button.list-group-item-success {
	color: #3c763d
}

a.list-group-item-success .list-group-item-heading, button.list-group-item-success .list-group-item-heading
	{
	color: inherit
}

a.list-group-item-success:focus, a.list-group-item-success:hover, button.list-group-item-success:focus,
	button.list-group-item-success:hover {
	color: #3c763d;
	background-color: #d0e9c6
}

a.list-group-item-success.active, a.list-group-item-success.active:focus,
	a.list-group-item-success.active:hover, button.list-group-item-success.active,
	button.list-group-item-success.active:focus, button.list-group-item-success.active:hover
	{
	color: #fff;
	background-color: #3c763d;
	border-color: #3c763d
}

.list-group-item-info {
	color: #31708f;
	background-color: #d9edf7
}

a.list-group-item-info, button.list-group-item-info {
	color: #31708f
}

a.list-group-item-info .list-group-item-heading, button.list-group-item-info .list-group-item-heading
	{
	color: inherit
}

a.list-group-item-info:focus, a.list-group-item-info:hover, button.list-group-item-info:focus,
	button.list-group-item-info:hover {
	color: #31708f;
	background-color: #c4e3f3
}

a.list-group-item-info.active, a.list-group-item-info.active:focus, a.list-group-item-info.active:hover,
	button.list-group-item-info.active, button.list-group-item-info.active:focus,
	button.list-group-item-info.active:hover {
	color: #fff;
	background-color: #31708f;
	border-color: #31708f
}

.list-group-item-warning {
	color: #8a6d3b;
	background-color: #fcf8e3
}

a.list-group-item-warning, button.list-group-item-warning {
	color: #8a6d3b
}

a.list-group-item-warning .list-group-item-heading, button.list-group-item-warning .list-group-item-heading
	{
	color: inherit
}

a.list-group-item-warning:focus, a.list-group-item-warning:hover, button.list-group-item-warning:focus,
	button.list-group-item-warning:hover {
	color: #8a6d3b;
	background-color: #faf2cc
}

a.list-group-item-warning.active, a.list-group-item-warning.active:focus,
	a.list-group-item-warning.active:hover, button.list-group-item-warning.active,
	button.list-group-item-warning.active:focus, button.list-group-item-warning.active:hover
	{
	color: #fff;
	background-color: #8a6d3b;
	border-color: #8a6d3b
}

.list-group-item-danger {
	color: #a94442;
	background-color: #f2dede
}

a.list-group-item-danger, button.list-group-item-danger {
	color: #a94442
}

a.list-group-item-danger .list-group-item-heading, button.list-group-item-danger .list-group-item-heading
	{
	color: inherit
}

a.list-group-item-danger:focus, a.list-group-item-danger:hover, button.list-group-item-danger:focus,
	button.list-group-item-danger:hover {
	color: #a94442;
	background-color: #ebcccc
}

a.list-group-item-danger.active, a.list-group-item-danger.active:focus,
	a.list-group-item-danger.active:hover, button.list-group-item-danger.active,
	button.list-group-item-danger.active:focus, button.list-group-item-danger.active:hover
	{
	color: #fff;
	background-color: #a94442;
	border-color: #a94442
}

.list-group-item-heading {
	margin-top: 0;
	margin-bottom: 5px
}

.list-group-item-text {
	margin-bottom: 0;
	line-height: 1.3
}

.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.panel-body {
	padding: 15px
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}

.panel-heading>.dropdown .dropdown-toggle {
	color: inherit
}

.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small,
	.panel-title>small>a {
	color: inherit
}

.panel-footer {
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-top: 1px solid #400080;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}

.panel>.list-group, .panel>.panel-collapse>.list-group {
	margin-bottom: 0
}

.panel>.list-group .list-group-item, .panel>.panel-collapse>.list-group .list-group-item
	{
	border-width: 1px 0;
	border-radius: 0
}

.panel>.list-group:first-child .list-group-item:first-child, .panel>.panel-collapse>.list-group:first-child .list-group-item:first-child
	{
	border-top: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}

.panel>.list-group:last-child .list-group-item:last-child, .panel>.panel-collapse>.list-group:last-child .list-group-item:last-child
	{
	border-bottom: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}

.panel>.panel-heading+.panel-collapse>.list-group .list-group-item:first-child
	{
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.panel-heading+.list-group .list-group-item:first-child {
	border-top-width: 0
}

.list-group+.panel-footer {
	border-top-width: 0
}

.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: 1px solid #400080
}

.panel-group .panel-footer {
	border-top: 0
}

.list-group-item {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #400080
}

.list-group-item:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px
}

.list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px
}

a.list-group-item, button.list-group-item {
	color: #555
}

a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading
	{
	color: #333
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus,
	button.list-group-item:hover {
	color: #555;
	text-decoration: none;
	background-color: #f5f5f5
}

button.list-group-item {
	width: 100%;
	text-align: left
}

.list-group-item.disabled, .list-group-item.disabled:focus,
	.list-group-item.disabled:hover {
	color: #777;
	cursor: not-allowed;
	background-color: #eee
}

.list-group-item.disabled .list-group-item-heading, .list-group-item.disabled:focus .list-group-item-heading,
	.list-group-item.disabled:hover .list-group-item-heading {
	color: inherit
}

.list-group-item.disabled .list-group-item-text, .list-group-item.disabled:focus .list-group-item-text,
	.list-group-item.disabled:hover .list-group-item-text {
	color: #777
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover
	{
	z-index: 2;
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7
}

.list-group-item.active .list-group-item-heading, .list-group-item.active .list-group-item-heading>.small,
	.list-group-item.active .list-group-item-heading>small,
	.list-group-item.active:focus .list-group-item-heading,
	.list-group-item.active:focus .list-group-item-heading>.small,
	.list-group-item.active:focus .list-group-item-heading>small,
	.list-group-item.active:hover .list-group-item-heading,
	.list-group-item.active:hover .list-group-item-heading>.small,
	.list-group-item.active:hover .list-group-item-heading>small {
	color: inherit
}

.list-group-item.active .list-group-item-text, .list-group-item.active:focus .list-group-item-text,
	.list-group-item.active:hover .list-group-item-text {
	color: #c7ddef
}

.list-group-item-success {
	color: #3c763d;
	background-color: #dff0d8
}

a.list-group-item-success, button.list-group-item-success {
	color: #3c763d
}

a.list-group-item-success .list-group-item-heading, button.list-group-item-success .list-group-item-heading
	{
	color: inherit
}

a.list-group-item-success:focus, a.list-group-item-success:hover, button.list-group-item-success:focus,
	button.list-group-item-success:hover {
	color: #3c763d;
	background-color: #d0e9c6
}

a.list-group-item-success.active, a.list-group-item-success.active:focus,
	a.list-group-item-success.active:hover, button.list-group-item-success.active,
	button.list-group-item-success.active:focus, button.list-group-item-success.active:hover
	{
	color: #fff;
	background-color: #3c763d;
	border-color: #3c763d
}

.list-group-item-info {
	color: #31708f;
	background-color: #d9edf7
}

a.list-group-item-info, button.list-group-item-info {
	color: #31708f
}

a.list-group-item-info .list-group-item-heading, button.list-group-item-info .list-group-item-heading
	{
	color: inherit
}

a.list-group-item-info:focus, a.list-group-item-info:hover, button.list-group-item-info:focus,
	button.list-group-item-info:hover {
	color: #31708f;
	background-color: #c4e3f3
}

a.list-group-item-info.active, a.list-group-item-info.active:focus, a.list-group-item-info.active:hover,
	button.list-group-item-info.active, button.list-group-item-info.active:focus,
	button.list-group-item-info.active:hover {
	color: #fff;
	background-color: #31708f;
	border-color: #31708f
}

.list-group-item-warning {
	color: #8a6d3b;
	background-color: #fcf8e3
}

a.list-group-item-warning, button.list-group-item-warning {
	color: #8a6d3b
}

a.list-group-item-warning .list-group-item-heading, button.list-group-item-warning .list-group-item-heading
	{
	color: inherit
}

a.list-group-item-warning:focus, a.list-group-item-warning:hover, button.list-group-item-warning:focus,
	button.list-group-item-warning:hover {
	color: #8a6d3b;
	background-color: #faf2cc
}

a.list-group-item-warning.active, a.list-group-item-warning.active:focus,
	a.list-group-item-warning.active:hover, button.list-group-item-warning.active,
	button.list-group-item-warning.active:focus, button.list-group-item-warning.active:hover
	{
	color: #fff;
	background-color: #8a6d3b;
	border-color: #8a6d3b
}

.list-group-item-danger {
	color: #a94442;
	background-color: #f2dede
}

a.list-group-item-danger, button.list-group-item-danger {
	color: #a94442
}

a.list-group-item-danger .list-group-item-heading, button.list-group-item-danger .list-group-item-heading
	{
	color: inherit
}

a.list-group-item-danger:focus, a.list-group-item-danger:hover, button.list-group-item-danger:focus,
	button.list-group-item-danger:hover {
	color: #a94442;
	background-color: #ebcccc
}

a.list-group-item-danger.active, a.list-group-item-danger.active:focus,
	a.list-group-item-danger.active:hover, button.list-group-item-danger.active,
	button.list-group-item-danger.active:focus, button.list-group-item-danger.active:hover
	{
	color: #fff;
	background-color: #a94442;
	border-color: #a94442
}

.list-group-item-heading {
	margin-top: 0;
	margin-bottom: 5px
}

.list-group-item-text {
	margin-bottom: 0;
	line-height: 1.3
}

.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.panel-body {
	padding: 15px
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}

.panel-heading>.dropdown .dropdown-toggle {
	color: inherit
}

.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small,
	.panel-title>small>a {
	color: inherit
}

.panel-footer {
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-top: 1px solid #400080;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}

.panel>.list-group, .panel>.panel-collapse>.list-group {
	margin-bottom: 0
}

.panel>.list-group .list-group-item, .panel>.panel-collapse>.list-group .list-group-item
	{
	border-width: 1px 0;
	border-radius: 0
}

.panel>.list-group:first-child .list-group-item:first-child, .panel>.panel-collapse>.list-group:first-child .list-group-item:first-child
	{
	border-top: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}

.panel>.list-group:last-child .list-group-item:last-child, .panel>.panel-collapse>.list-group:last-child .list-group-item:last-child
	{
	border-bottom: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}

.panel>.panel-heading+.panel-collapse>.list-group .list-group-item:first-child
	{
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.panel-heading+.list-group .list-group-item:first-child {
	border-top-width: 0
}

span.col-md-4 {
	width: 120px;
}

.badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #777;
	border-radius: 10px
}

.badge:empty {
	display: none
}

.btn .badge {
	position: relative;
	top: -1px
}

.btn-group-xs>.btn .badge, .btn-xs .badge {
	top: 0;
	padding: 1px 5px
}

a.badge:focus, a.badge:hover {
	color: #fff;
	text-decoration: none;
	cursor: pointer
}

.list-group-item.active>.badge, .nav-pills>.active>a>.badge {
	color: #337ab7;
	background-color: #fff
}

.list-group-item>.badge {
	float: right
}

.list-group-item>.badge+.badge {
	margin-right: 5px
}

.nav-pills>li>a>.badge {
	margin-left: 3px
}

a.btn-warning {
	color: #fff;
	background-color: #0080c0;
	border-color: #ffffff
}

a.btn-warning.focus, .btn-warning:focus {
	color: #fff;
	background-color: #13b0cc;
	border-color: #ffffff
}

a.btn-warning.disabled
	{
	background-color: #004080;
	border-color: #ffffff
}

.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
}

.table-bordered td, .table-bordered th {
	border: 1px solid #400080 !important
}

.table-bordered {
	border: 1px solid #400080
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th,
	.table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th,
	.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border: 1px solid #400080
}

.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border-bottom-width: 2px
}


.panel>.table-bordered>tbody>tr>td:first-child, .panel>.table-bordered>tbody>tr>th:first-child,
	.panel>.table-bordered>tfoot>tr>td:first-child, .panel>.table-bordered>tfoot>tr>th:first-child,
	.panel>.table-bordered>thead>tr>td:first-child, .panel>.table-bordered>thead>tr>th:first-child,
	.panel>.table-responsive>.table-bordered>tbody>tr>td:first-child,
	.panel>.table-responsive>.table-bordered>tbody>tr>th:first-child,
	.panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child,
	.panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child,
	.panel>.table-responsive>.table-bordered>thead>tr>td:first-child,
	.panel>.table-responsive>.table-bordered>thead>tr>th:first-child {
	border-left: 0
}

.panel>.table-bordered>tbody>tr>td:last-child, .panel>.table-bordered>tbody>tr>th:last-child,
	.panel>.table-bordered>tfoot>tr>td:last-child, .panel>.table-bordered>tfoot>tr>th:last-child,
	.panel>.table-bordered>thead>tr>td:last-child, .panel>.table-bordered>thead>tr>th:last-child,
	.panel>.table-responsive>.table-bordered>tbody>tr>td:last-child, .panel>.table-responsive>.table-bordered>tbody>tr>th:last-child,
	.panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child, .panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child,
	.panel>.table-responsive>.table-bordered>thead>tr>td:last-child, .panel>.table-responsive>.table-bordered>thead>tr>th:last-child
	{
	border-right: 0
}

.panel>.table-bordered>tbody>tr:first-child>td, .panel>.table-bordered>tbody>tr:first-child>th,
	.panel>.table-bordered>thead>tr:first-child>td, .panel>.table-bordered>thead>tr:first-child>th,
	.panel>.table-responsive>.table-bordered>tbody>tr:first-child>td,
	.panel>.table-responsive>.table-bordered>tbody>tr:first-child>th,
	.panel>.table-responsive>.table-bordered>thead>tr:first-child>td,
	.panel>.table-responsive>.table-bordered>thead>tr:first-child>th {
	border-bottom: 0
}

.panel>.table-bordered>tbody>tr:last-child>td, .panel>.table-bordered>tbody>tr:last-child>th,
	.panel>.table-bordered>tfoot>tr:last-child>td, .panel>.table-bordered>tfoot>tr:last-child>th,
	.panel>.table-responsive>.table-bordered>tbody>tr:last-child>td, .panel>.table-responsive>.table-bordered>tbody>tr:last-child>th,
	.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td, .panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th
	{
	border-bottom: 0
}