<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>calcServlet</servlet-name>
    <servlet-class>controller.CalcServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>voteServlet</servlet-name>
    <servlet-class>controller.VoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcServlet</servlet-name>
    <url-pattern>/calc2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>voteServlet</servlet-name>
    <url-pattern>/vote</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>controller.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>list</param-name>
    <param-value>Footbal Biathlon Basketball</param-value>
  </context-param>
</web-app>