<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>SummaryTask4</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>ua.nure.mykytenko.SummaryTask4.web.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<servlet-name>Controller</servlet-name>
	</filter-mapping>
	<listener>
		<listener-class>ua.nure.mykytenko.SummaryTask4.web.listener.ContextListener</listener-class>
	</listener>
	<filter>
    <filter-name>LocaleFilter</filter-name>
    <filter-class>ua.nure.mykytenko.SummaryTask4.web.filter.LocaleFilter</filter-class>
    <init-param>
      <param-name>defaultLocale</param-name>
      <param-value>en</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   <context-param>
    <param-name>localeList</param-name>
    <param-value>en ru</param-value>
  </context-param>
  <context-param>
    <param-name>bundleBasename</param-name>
    <param-value>ua.nure.mykytenko.SummaryTask4.resources.resources</param-value>
  </context-param>
  <filter>
    <filter-name>AccessFilter</filter-name>
    <filter-class>ua.nure.mykytenko.SummaryTask4.web.filter.AccessFilter</filter-class>
    <init-param>
      <param-name>admin</param-name>
      <param-value>adminView stationView trainView routeView carriagesView addRoute 
							deleteRoute addStation updateStation deleteStation addTrain deleteTrain getRoutes addCarriages updateCarriage</param-value>
    </init-param>
    <init-param>
      <param-name>user</param-name>
      <param-value>orderTicket userProfileView paymentSuccessfulView</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AccessFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>